@font-face {
    font-family: 'Montserrat Black';
    src: url("fonts/Montserrat-Black.ttf"); 
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url("fonts/Montserrat-Bold.ttf"); 
}
@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url("fonts/Montserrat-ExtraBoldItalic.ttf"); 
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url("fonts/Montserrat-Medium.ttf"); 
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url("fonts/Montserrat-Regular.ttf"); 
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url("fonts/Montserrat-SemiBold.ttf"); 
}
@font-face {
    font-family: 'Montserrat Light';
    src: url("fonts/Montserrat-Light.ttf"); 
}
@font-face {
    font-family: 'WorkSans ExtraBold';
    src: url("fonts/WorkSans-ExtraBold.ttf"); 
}
@font-face {
    font-family: 'WorkSans Bold';
    src: url("fonts/WorkSans-Bold.ttf"); 
}
@font-face {
    font-family: 'WorkSans Light';
    src: url("fonts/WorkSans-Light.ttf"); 
}
html, body {
    width: 100% !important;
    overflow-x: hidden;
}
.black{
    font-family: 'Montserrat Black';
}
.bold{
    font-family: 'Montserrat Bold';
}
.ExtraBold{
    font-family: 'Montserrat ExtraBold';
}
.Medium{
    font-family: 'Montserrat Medium';
}
.Light{
    font-family: 'Montserrat Light';
}
.Regular{
    font-family: 'Montserrat Regular';
}
.SemiBold{
    font-family: 'Montserrat SemiBold';
}
.Work{
    font-family: 'WorkSans ExtraBold';
}
.WorkB{
    font-family: 'WorkSans Bold';
}
.WorkL{
    font-family: 'WorkSans Light';
}
.a_none_style{
    text-decoration: none;
}
/*BOTONES*/
.btn-conoce{
    background-color: #54A1F8;
    border-color: #54A1F8;
    border-radius: 0;
    width: 180px;
}
.btn-carrito{
    background-color: #54A1F8;
    border-color: #54A1F8;
    border-radius: 0;
}
.nav-pills .nav-link.active, .nav-pills .show> .nav-link{
    background: transparent;
    color: #54B3F8;
}
.btn-novedades{
    color: #AAAAAA;
}
.btn-novedades:hover{
    color: #54B3F8;
}
.btn-transparente{
    background: none;
    border-color: #5398E6;
    border-radius: 0;
    width: 180px;
}
.btn-pagar{
    border-color: #5398E6;
    background-color: #5398E6;
    border-radius: 0;
    width: 270px;
}
/*NOVEDADES TITULO*/
:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
}
::before,
::after {
    position: absolute;
    content: "";
}
.btn-hover {
    position: relative;
    display: inline-block;
    width: auto; 
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-hover span {         
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
}
.btn-3 {
    padding: 5px;
}
.btn-3 span {
    color: rgb(54, 56, 55);
    background-color: transparent;
}
.btn-3::before,
.btn-3::after {
    background: transparent;
    z-index: 2;
}
.btn-hover.hover-border-2::before,
.btn-hover.hover-border-2::after {
  width: 10%; height: 25%;
  transition: 0.35s;
}
.btn-hover.hover-border-2::before {
  bottom: 0; left: 0;
  border-left: 2px solid rgb(77, 135, 182);
  border-bottom: 2px solid rgb(77, 135, 182);
}
.btn-hover.hover-border-2::after {
  top: 0; right: 0;
  border-right: 2px solid rgb(77, 135, 182);
  border-top: 2px solid rgb(77, 135, 182);
}
.btn-hover.hover-border-2:hover::before,
.btn-hover.hover-border-2:hover::after {
  width: 99%;
  height: 99%;
}
.btn-comenzar{
    background-color: #54A1F8;
    border-color: #54A1F8;
    width: 200px;
    border-radius: 0;
}
.btn-filtro{
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-radius: 0;
    color: #000000;
    width: 100px;
}
/*TERMINA BOTONES*/
.inner-addon {
    position: relative;
}
.right-addon .glyphicon {
    right: 0px;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.right-addon input{
  padding-right:  30px; 
  border-radius: 5px;
}
.borde{
    border-right: 1px solid #000000;
}
.vid-monitoreo{
    position: relative;
    margin-bottom: 150px;
}
.video_index{
    position: absolute;
}
.txt-index{
    position: relative;
    color: #fff;
}
.txt-azul-precio{
    color: #4D87B6;
}
.txt-gris-precio{
    color: #AAAAAA;
}
.txt-verde{
    color: #82C667;
}
.txt-azul{
    color: #5398E6;
}
/*HOVER NOVEDADES*/
.novedad{
    position: relative;
}
.novedad:hover .hover{
    opacity: 1;
}
.hover{
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.ver{
    background: #fff;
    width: 50px;
    height: 50px;
    margin-top: 175px;
}
.fav{
    background: #fff;
    width: 50px;
    height: 50px;
}
.fav img{
    width: 20px;
}
.producto img{
    width: 100%;
    height: 100%;
}
/*TERMINA HOVER NOVEDADES*/
.adquiere{
    position: relative;
    display: inline-block;
}
.txt-adquiere{
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 300px;
}
.txt-adquiere h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.txt-sombra1{
    text-shadow: 5px -5px rgba(0, 0, 0, 0.5);
}
.txt-sombra2{
    text-shadow: 5px -5px rgba(0, 0, 0, 0.5);
}
.txt-sombra3{
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.txt-sombra4{
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.txt-ingresos{
    margin-top: 15rem;
}
.txt-tipos{
    line-height: normal;
}
.categoria:hover .texto-hover{
    opacity: 1;
}
.categoria{
    position: relative;
    display: inline-block;
    color: #fff;
}
.tit-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}
.texto-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.texto-hover h6{
    margin-top: 6rem;
    font-size: 12px;

}
.texto-hover h5{
    margin-top: 7rem;
    font-size: 12px;
}
.bordes{
    border-style: solid;
    border-color: #5398E6;
    position: absolute;
    left: 40%;
    top: 5%;
    width: 25%;
}
.box-border{
    border-style: solid;
    border-color: #000000;
}
.bordes p{
    color: #999999;
    font-size: 12px;
}
.tendencias{
    position: relative;
}
.relleno{
    background-color: #303030;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 30%;
    width: 36%;
    text-align: center;
    line-height: 50%;
}
.relleno p{
    font-size: 12px;
}
.relleno h6{
    font-size: 14px;
}
.tendencias-mujer{
    margin-left: 5.5rem;
    margin-top: 3rem;
}
.imagen{
    margin-left: 2rem;
}
.bg-emprende{
    background-image: url('../img/bg-emprende.jpeg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.bg-index{
    background-image: url('../img/bg-emprende.jpeg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.bg-negocio{
    background-image: url('../img/bg-header-negocio.png');
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.bg-ingresos{
    background-image: url('../img/bg-generar-ingresos.png');
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.bg-gris{
    background-color: #F4F4F4;
}
.icono-define{
    float: left;
}
.define{
    line-height: 50%;
}
.define p{
    font-size: 12px;
}
.borde-izquierdo{
    border-left: 1px solid #5398E6;
}
.vid-contact{
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    z-index: 0;
}
.menu-categoria li{
    list-style: none;
}
.menu-categoria h6{
    font-size: 15px;
}
.bg-negocio h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.mas-dinero{
    width: 400px;
    margin-top: -28px;
}
.txt-negocio{
    margin-top: 17rem;
}
.logo-negocio{
    width: 200px;
}
.box-genera{
    border: 4px solid #5398E6;
    width: 40%;
    height: 350px;
    left: 17%;
    position: absolute;
}
.genera{
    margin-top: 10rem;
}
.ganancias-desc{
    width: 200px;
}
.image-desc{
    width: 350px;
    margin-left: 200px;
} 
.distribuidor{
    position: relative;
}
.bb-materialized{
    width: 300px;
}
.iniciar-negocio{
    letter-spacing: -2px;
}
.box-ganancias{
    position: relative;
}
.ganancias{
    position: absolute;
    left: 42%;
}
.facil-vender{
    margin-left: 70px;
    position: absolute;
}
.disenos{
    text-align: end;
    margin-left: -40px;
    position: absolute;
}
.asesoria{
    position: absolute;
    margin-left: 50px;
}
.resumen{
    background-color: #fff;
}
.resumen span{
    font-size: 10px;
}
.total{
    float: left;
    margin-right: 5rem;
}
.img-carrito{
    width: 50px;
}
.bordes-tabla{
    border: 2px solid #AAAAAA;
}
.bordes-tabla tr{
    border-bottom: 2px solid #AAAAAA;
}
.table{
    margin-bottom: 0;
}
.box-resumen{
    height: 270px;
}
.filtro-web{
    border: 2px solid #5398E6;
}
.border-bottom{
    border-bottom: 2px solid #707070!important;
}
.box-filtro{
    float: left;
    margin-right: 30px;
}